.navbar {
  margin-bottom: 0;
  border-radius: 0;
//  font-family: 'Poiret One', sans-serif;
  font-family: 'Droid Serif', serif;
  font-size: 18px;

  .navbar-header {

    #logo {
      background-image: url('../images/orangeTiger.png');
      background-size: cover;
      width: 145px;
      height: 65px;
      margin: 0;
    }
  //   #logo {
  //    background-image: url('../images/orangeTiger.png');
  //    background-size: 200px;
  //    background-repeat: no-repeat;
  //    padding: 40px;
  //    margin: 10;
  //    margin-left: 15px;
  //  }

    #logo-text {
      visibility: hidden;
    }
  }
}
