<main>
    <div class="about" class="container-fluid text-center bg-grey">
      <h2 class>About</h2>
      <div class="row text-center">
        <div class="col-sm-4">
          <div class="thumbnail">
            <ul class="demo-1 effect">
              <li>
                <h2>About</h2>
                <p>Bikram Yoga is the 26 postures sequence selected and developed by Bikram Choudhury. It is the original hot yoga, practiced in a room heated to 105 degrees Fahrenheit.</p>
              </li>
              <li><img class="top" src="images/stick2.jpg" alt=""/></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <ul class="demo-1 effect">
              <li>
                <h2>Instructors</h2>
                <p>Bikram Choudhury, the creator of Bikram Yoga, personally trains and certifies his instructors to ensure that his methods and philosophy are preserved and properly taught.</p>
              </li>
              <li><img class="top" src="images/joseph-cobra.jpg" alt=""/></li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="thumbnail">
            <ul class="demo-1 effect">
              <li>
                <h2>Research</h2>
                <p>PURE Action is devoted to establishing the feasibility and the effectiveness of yoga therapy as an alternative medicine through continued research <a href="http://pureaction.org" target="_blank">here.</a></p>
              </li>
              <li><img class="top" src="images/spine-twist.jpg" alt=""/></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Embed Video -->
  <section>
  <div class="learn">
    <h2>Watch</h2>
    <div class="videos">
      <iframe title="New York Times Video - Embed Player" width="480" height="321" frameborder="0" scrolling="no" allowfullscreen="true" marginheight="0" marginwidth="0" id="nyt_video_player" src="http://graphics8.nytimes.com/video/players/offsite/index.html?videoId=100000000715382"></iframe>
      <iframe width="480" height="321" src="https://www.youtube.com/embed/BjP17vMNTT8" frameborder="0" allowfullscreen></iframe>
      <iframe title="Brandy Lyn Winfield demo" width="480" height="321" src="https://www.youtube.com/embed/K2cPOqP6ukw" frameborder="0" allowfullscreen></iframe>
      <iframe title="Joseph Encinia demo" width="480" height="321" src="https://www.youtube.com/embed/xGfbCUqXaas" frameborder="0" allowfullscreen></iframe>
      <iframe title="District Yoga and Fitness no-no's" width="480" height="321" frameborder="0" scrolling="no" allowfullscreen="true" marginheight="0" marginwidth="0" id="nyt_video_player" src="https://www.youtube.com/embed/k0i54eU2WuU"></iframe>
      <iframe width="480" height="321" src="https://www.youtube.com/embed/EYFkVCmkVj4" frameborder="0" allowfullscreen></iframe>
      <!-- 16:9 aspect ratio
      <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/k0i54eU2WuU"></iframe>
    </div>-->
  </div>
</section>
  <!-- End video -->
